body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  padding-top: 70px; /* offset for fixed navbar */
}
.navbar {
}
.navbar-brand {
  font-weight: bold;
  color: black;
}
.section {
  padding: 60px 0;
}
.alt {
  background: #f7f7f7;
}
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-weight: lighter;
  color:#000000;
  font-size: 30px;
} 
.site-footer {
  border-top: 1px solid #ddd;
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  color: #7a7a7a;
}
.contact-icons {
  margin-top: 15px;
  padding: 0;
}

/* spacing between contact icons */
.contact-icons li {
  display: inline-block;
  margin: 0 6px;
}

.contact-icons a {
  color: #555;
  font-size: 2rem;
  transition: color 0.2s ease, transform 0.2s ease;
}
.contact-icons i.ai {
  font-size: 1.9rem;   /* Scholar icon size */
  vertical-align: middle;
}
.contact-icons a:hover {
  color: #007acc;       /* accent color */
  transform: scale(1.2);
}
