<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | relative_url }}">Jiyeong Ha</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if page.layout == 'home' %}
        <li><a href="#about">Home</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#research">Research</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
        {% else %}
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/#education' | relative_url }}">Education</a></li>
        <li><a href="{{ '/#research' | relative_url }}">Research</a></li>
        <li><a href="{{ '/#publications' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/blog' | relative_url }}" {% if page.layout == 'blog' or page.layout == 'post' %}class="active"{% endif %}>Blog</a></li>
        <li><a href="{{ '/#contact' | relative_url }}">Contact</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
